@{
    ViewData["Title"] = "Home Page";
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Flamaflon</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/order">Order</a></li>
            <li class="active"><a href="/customers">Customers</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 75px">
    <div class="row">
        <h3>Become a new customer!</h3>
        <div class="container">
            <form action="/customers/new" method="POST">
                <label>Name: </label>
                <input type="text" name="name">
                <input type="submit" value="Add User">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Date Joined</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            @{
                foreach (var customer in @ViewBag.Customers)
                {
                    <tr>
                        <td>@customer.FirstName</td>
                        <td>@customer.Created_At.ToString("MMMM dd, yyyy")</td>
                        <td>Action</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>