@{
    ViewData["Title"] = "Home Page";
}
@model ecommerce.Models.NewProduct
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Flamaflon</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/products">Products</a></li>
            <li><a href="/order">Order</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 75px">
    <div class="row">
        <h3>@ViewBag.Product.ProductName</h3>
        <img class="prod-image" src="@ViewBag.Product.ProductImage">
        <ul class="list-unstyled prod-attr">
            <li><h4>Price: $@ViewBag.Product.ProductPrice</h4></li>
            <li><p><span><h4 style="display: inline-block">Description: </h4></span> @ViewBag.Product.ProductDescription</p></li>
        </ul>
    </div>
    <div class="row">
        <h3>Table with some stuff</h3>
    </div>
</div>