@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to QuotingDojo</h1>
<form action="post" method="post">
    <label for="name"><h3>Your Name:</h3></label>
    <input type="text" name="name">
    <br>
    <label for="name"><h3>Your Quote:</h3></label>
    <input type="text" name="quote">
    <br>
    <input type="submit" value="Submit Quote">
</form>
<br>